<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">My Basket </li>
        <li>
            <a href="{{ path('basket') }}">
                {% if(items == 0) %}
                    Any items in your basket
                {% else %}
                    {{ items }} items in your basket
                {% endif %}
            </a>
        </li>
    </ul>
</div>
