<div class="span3">
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="">Products</a>
            </li>
            <li>
                <a href="">Product's Categories</a>
            </li>
        </ul>
    </div>

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="">Clients</a>
            </li>
            <li>
                <a href="">Orders</a>
            </li>
        </ul>
    </div>

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="">CGV</a>
            </li>
            <li>
                <a href="">Legacy Tests</a>
            </li>
        </ul>
    </div>
</div>