<li class="nav-item active">
    <a class="nav-link" href="{{ path('adminProducts_index') }}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Products</span>
    </a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Product's Categories</span>
    </a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Clients</span>
    </a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{{ path('adminCommandes_index') }}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Orders</span>
    </a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{{ path('adminPages_index') }}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Pages</span>
    </a>
</li>