<div class="well">
    <ul class="nav nav-list">
        <li>
            <a href="connexion.php">Connect</a>
        </li>
        <li>
            <a href="inscription.php">Register</a>
        </li>
    </ul>
</div>