    <div class="list-group">
    {% for category in categories %}
        <a class="list-group-item" href="{{ path('categoriesProducts', { 'category' : category.id } ) }}" >
            {{ category.nom }}
        </a>
    {% endfor %}
    </div>