{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h1>Page creation</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <a href="{{ path('adminPages_index') }}" class="btn btn-primary my-2">Back</a>
        <input class=" btn btn-success my-2" style="float: right" type="submit" value="Create" />
    {{ form_end(form) }}
{% endblock %}
