<div class="well">
    <ul class="nav nav-list">
        <li>
            <a href="">Connect</a>
        </li>
        <li>
            <a href="{{ path('fos_user_registration_register') }}">Register</a>
        </li>
    </ul>
</div>