
<h5 class="mt-3">Are you already connected?</h5>
<div class="list-group">
    <a class="list-group-item" href="{{ path('fos_user_security_login') }}">Connect</a>
    <a class="list-group-item" href="{{path('fos_user_registration_register')}}">Register</a>
</div>