 <div class="well">
    <ul class="nav nav-list">
        <li>
            <a href="{{ path('fos_user_profile_show') }}">My Informations</a>
        </li>
        <li>
            <a href="{{ path('fos_user_profile_edit') }}">Edit My Informations</a>
        </li>
        <li>
            <a href="{{ path('fos_user_change_password') }}">Change My Password</a>
        </li>
        <li>
            <a href="#">My Bills</a>
        </li>
        <li>
            <a href="#">My Localisation</a>
        </li>
        <li>
            <a href="{{ path('fos_user_security_logout') }}">Disconnect</a>
        </li>
    </ul>
</div>