{# Affichage du formulaire: input=search, button=Search
 le path de l'action renvoit vers la route dont le nom est en parametre
 qui est contenu dans le controller ProductsController et qui effectue le traitement du formulaire #}

<form action="{{ path('searchProducts') }}" method="POST" class="form-inline">
    {{ form_widget(form.search) }}
    {{ form_widget(form.Search) }}
</form>